@charset "UTF-8";
/*css doc */

html {
  font-size: 18px;
}
body{
width: 960px;
margin: auto;
font-family: Helvetica;
line-height: 1.4rem;
background-color: azure;
}
.logo{
  display: inline;
  height: 1.5rem;
  margin-right: 1rem;
}

header {
  display: flex;
  align-items: center;
  width: 760px;
  height: 2rem;
  align-self: auto;
  position: relative;
  top: 1rem;
  right: -3.5rem;
  background-color: cadetblue;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.4rem;
}
.header_content {
  width: 760px;
  display: flex;
  align-content: center;
}
.nav li {
  margin-right: 2rem;
}
nav {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  color: white;
}
.nav {
  position: relative;
  display: flex;
  justify-content: flex-end;

}
.nav li a {
 list-style: none;
 text-decoration:none;
 color: white;

}
#banner {
  background-image:  url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png');
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  padding-right: 9rem;
}
aside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 4rem;
    background-color: white;
    color: cadetblue;
    position: relative;
    top: 10rem;
    right: -20rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 75%;
  height: 8rem;
  margin: auto;
  border: 1px solid blue;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.33%
  Height: 8rem;
  border: 1px solid black;
}
.icon_description {
  text-align: center;
}
#paper {
  width: 3.5rem;
  margin: 0px auto;

}
#truck {
  width: 5rem;

}
#ruler {
  width: 5rem;
}
.columns_section {
  display: flex;
  margin: auto;
  border: 1px solid red;
  width: 75%;
  padding-bottom: 5rem;
}
.column {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}
.green {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
  width: 10rem;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
}
footer {
  display: flex;
  align-items: center;
  width: 75%;
  height: 9.5rem;
  margin: auto;
  background-color: azure;
  padding-left: 4rem;
  Border: 3px solid gold;
}
.black_logo {
  height: 1.5rem;
  margin-right: 1rem;
  display: inline;
  float: left;
}
.footer_content {
  display: fex;
  align-items: center;

}
